In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    user = "root",
    passwd = "MySQL2022",
    host = "localhost",
    database = 'tractortek_db',
)
my_cursor = mydb.cursor()

my_cursor.execute("DROP TABLE IF EXISTS sales_order")
my_cursor.execute("DROP TABLE IF EXISTS dates")
my_cursor.execute("DROP TABLE IF EXISTS sales_team")
my_cursor.execute("DROP TABLE IF EXISTS prices")
my_cursor.execute("DROP TABLE IF EXISTS products")
my_cursor.execute("DROP TABLE IF EXISTS manufacturers")




sql = '''CREATE TABLE manufacturers(
man_id INT NOT NULL PRIMARY KEY,
man_name TEXT,
man_url TEXT
)'''

my_cursor.execute(sql)

print("Manufacturer table created successfully")

sql = '''CREATE TABLE products(
item_code VARCHAR(10) NOT NULL PRIMARY KEY,
prod_desc TEXT,
prod_link TEXT,
man_id INT,
FOREIGN KEY (man_id) REFERENCES manufacturers(man_id)
)'''

my_cursor.execute(sql)

print("products table created successfully")

sql = '''CREATE TABLE prices(
price_id INT NOT NULL PRIMARY KEY auto_increment,
item_price BIGINT,
item_code VARCHAR(10),
start_date DATE,
end_date DATE,
FOREIGN KEY (item_code) REFERENCES products(item_code)
)'''

my_cursor.execute(sql)

print("Prices table created successfully")

sql = '''CREATE TABLE sales_team(
emp_id VARCHAR(10) NOT NULL PRIMARY KEY,
region VARCHAR(4),
pay_grade VARCHAR(5),
emp_name TEXT
)'''

my_cursor.execute(sql)

print("Sales Team table created successfully")

sql = '''CREATE TABLE IF NOT EXISTS dates(
sales_entry_date DATE NOT NULL PRIMARY KEY,
sales_year INT,
sales_quarter VARCHAR(8),
sales_period SMALLINT,
sales_week0 SMALLINT,
sales_week1 SMALLINT
)'''

my_cursor.execute(sql)

print("Dates table created successfully")



sql = '''CREATE TABLE IF NOT EXISTS sales_order(
id INT NOT NULL PRIMARY KEY auto_increment,
item_code VARCHAR(10),
emp_id VARCHAR(10),
quantity INT,
sales_entry_date DATE,
FOREIGN KEY (item_code) REFERENCES products(item_code),
FOREIGN KEY (emp_id) REFERENCES sales_team(emp_id),
FOREIGN KEY (sales_entry_date) REFERENCES dates(sales_entry_date)
)'''

my_cursor.execute(sql)

print("sales_order table created successfully")

Manufacturer table created successfully
products table created successfully
Prices table created successfully
Sales Team table created successfully
Dates table created successfully
sales_order table created successfully