In [2]:
from sqlalchemy import create_engine
import mysql.connector as sql
import pandas as pd

class My_db_details:
    dbuser = "root"
    dbpass = "MySQL2022"
    dbhost = "localhost"
    dbname = "tractortek_db"


conn = "mysql+pymysql://{0}:{1}@{2}/{3}".format(
        My_db_details.dbuser,
        My_db_details.dbpass,
        My_db_details.dbhost,
        My_db_details.dbname)

db_conn = create_engine(conn)


datafrommysql = pd.read_sql("""SELECT emp_name, sum(so.quantity) as total_qty 
                                FROM sales_order as so 
                                inner join sales_team as st 
                                on so.emp_id = st.emp_id 
                                group by st.emp_name""", con=db_conn)

print(datafrommysql)

           emp_name  total_qty
0    Bachmann, Jane    23316.0
1       Evans, Gina    33177.0
2     Lawson, Harry    15364.0
3  Clement, Beverly    33013.0
4      Allen, Maude    10179.0

In [3]:
datafrommysql = pd.read_sql("""SELECT * FROM prices where item_code = 'PROD_001'""", con=db_conn)
print(datafrommysql)

   price_id  item_price item_code  start_date    end_date
0         1       12449  PROD_001  2018-12-30  2019-03-10
1         2       12449  PROD_001  2019-03-31  2019-06-23
2         3       12449  PROD_001  2019-06-30  2019-09-22
3         4       12449  PROD_001  2019-09-29  2019-12-22
4         5       12499  PROD_001  2019-12-29  2020-03-22
5         6       12499  PROD_001  2020-03-29  2020-06-21
6         7       12499  PROD_001  2020-06-28  2020-09-20
7         8       12499  PROD_001  2020-09-27  2020-12-20

In [11]:
datafrommysql = pd.read_sql("""SELECT id, item_code, emp_id, sales_entry_date
                                FROM sales_order
                                order by id desc""", con=db_conn)
print(datafrommysql)

        id item_code  emp_id sales_entry_date
0     8320   ESP_008  EMP290       2020-12-20
1     8319   ESP_007  EMP290       2020-12-20
2     8318   ESP_006  EMP290       2020-12-20
3     8317   ESP_005  EMP290       2020-12-20
4     8316   ESP_004  EMP290       2020-12-20
...    ...       ...     ...              ...
8315     5  PROD_005  EMP234       2018-12-30
8316     4  PROD_004  EMP234       2018-12-30
8317     3  PROD_003  EMP234       2018-12-30
8318     2  PROD_002  EMP234       2018-12-30
8319     1  PROD_001  EMP234       2018-12-30

[8320 rows x 4 columns]